body{
  font-family: Arial;
  padding:40px;
}

.app{
  max-width:600px;
  margin:auto;
}

.field{
  margin-bottom:20px;
}

label{
  display:block;
  margin-bottom:8px;
  font-weight:bold;
}

input,
select{
  width:100%;
  padding:12px;
}